body {
display: flex ;
background-color: #fff ;

}
.contenedor {

    float: left;
    width: calc(30% - 20px);
    height: 150px;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}
body{
 
    background: linear-gradient(to right, white 0%, rgb(88, 243, 68) 50%);
}
.contenido {
   
    margin-top: 100px;  
}
.principal {
    
}
.img {
   
    width: 10px;
    height: 10px;
}
.header {
   
}
.nombre {
   
}
.titulo {
    border: 4px solid #02a02a ;
    color: #02aa2c;
}
.cuerpo {
   text-align: center;
}